:root {
    --color1: #dd404d; /* red */
    --color2: #ffeae6; /* light crimson */
    --color3: #06061a; /* dark purple */
    --color4: #191936; /* light purple */
    --color5: #000000; /* black color */
    --color6: #fefefe; /* white color */
    --color7: #afafaf; /* gray color */
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    background-color: var(--color6);
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.main-navbar{
    display: flex;
    justify-content: space-between;
    font-size: 20.8px;
    line-height: 1.15;
    box-sizing: border-box;
    padding: 32px 0px;
}

.text-red{
    color:var(--color1);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.navbar ul li{
    margin-left:36px;
}

.header-hero{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.hero-description{
    font-size:larger;
    padding: 60px;
}

.hero-image{
    margin: 15px;
}
img{
    height: 280px;
    width: 460px;
}

.btn{
    text-decoration: none;
    background-color: rgb(169, 59, 59);
    color:whitesmoke;
    box-sizing: border-box;
    margin: 20px 0px;
    padding: 5px 5px;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 10px;
}

.about{
    background-color: var(--color2);
    font-size: 20.8px;
    padding:10px;
    
}

.about-description{
    padding: 32px;
    margin: 0 0 128px;
}

p{  
    margin: 10px;
    justify-content: center;
    font-size: 16px;
}
.dash{
    display: inline-block;
    width: 80px;
    height: 5px;
    background-color: var(--color1);
    margin-right: 10px;
}
.dash2{
    display: inline-block;
    width: 40px;
    height: 5px;
    background-color: var(--color1);
    margin-right: 10px;
}

.linkBox{
    margin: 10px 50px;
}

.work{
    padding: 10px;
    font-size: 20.8px;
}

.projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.proBox{
    height: 350px;
    width: 300px;
    border: 2px solid black;
    padding: 5px 6px;
    margin: 10px;
    border-radius: 20px;
    background: beige;
    box-shadow: 3px 3px 3px var(--color1);
    transition: all 0.5s linear 0s;
}

.proBox:hover{
    transform: scale(1.1);
}

h4{
    color: blue;
    font-style: italic;
    border-bottom: 2px solid black;
}

.proBox ul{
    list-style: none;
    margin: 8px 0px;
}

.proBox ul li{
    font-size: medium;
    margin: 5px 0px;
}

.connect{
    background-color: var(--color2);
    display: flex;
    padding: 10px;
    flex-direction: column;
    font-size: 20.8px;
}

.connect-social-links{
    padding: 30px 0;
}

.connect-email{
    padding: 30px 0;
}

.footer{
    padding: 40px 0 0 0;
}

